html, body, div, #gameBoard {
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
}

html, body {
		width: 100%;
		margin: 0px;
}

#row1, #row2, #row3, #row4, #gameboard {
		width: 100%;
}

#gameBoard, .gameRow {
		max-width: 800px;
		display: -webkit-flex;
		display: flex;
		flex-wrap: -webkit-nowrap;
		flex-wrap: wrap;
		justify-content: -webkit-space-between;
		justify-content: space-between;
		align-content: center;
		flex-direction: row;
}

.card {
		display: -webkit-flex;
		display: flex;
		z-index: 100;
/*
		width: 65px;
		max-width: 65px;
		height: 115px;
		border: solid 1px black;
		margin-left: 2px;
		margin-right: 2px;
		margin-top: 20px;
		border-radius: 7px;
		align-content: center;
		justify-content: space-around;
		justify-content: -webkit-space-around;
*/
/*		background-color: #3c3c3f;*/
}

.card:hover {
		cursor: pointer;
}

.cardInnerBox {
		display: -webkit-flex;
		display: flex;
		border: solid 1px black;
		height: 85%;
		width: 85%;
		margin: auto;
		background-image: url('GTIplaid.jpg');
		background-size: cover;
}

div.cardInnerText {
		display: block;
		width: 100%;
		height: 33.3%;
						
}


/************ Flip Effect **************/

.flip3d {
	width: 65px;
	height: 115px;
	margin: 10px;
	float: left;
	
}

.flip3d .front {
	position: absolute;
	transform: perspective( 600px ) rotatey( 0deg);
	-webkit-transform: perspective( 600px ) rotatey( 0deg);
	width: 65px;
	height: 115px;
	border-radius: 7px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform .3s linear 0s;
	-webkit-transition: transform .3s linear 0s;
}

.front {
	background-color: #3c3c3f;
	border: solid 2px black;
}

.back {
	background-color: #3c3c3f;
	border: solid 2px black;
}

.flip3d .back {
	position: absolute;
	transform: perspective( 600px ) rotatey( 180deg);	
	-webkit-transform: perspective( 600px ) rotatey( 180deg);
	width: 65px;
	height: 115px;
	border-radius: 7px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform .3s linear 0s;
	-webkit-transition: transform .3s linear 0s;
}

.frontFlipped .flip3d .front {
	transform: perspective( 600px ) rotateY( -180deg);	
	-webkit-transform: perspective( 600px ) rotateY( -180deg);
}

.backFlipped .flip3d .back {
	transform: perspective( 600px ) rotateY( 0deg);
	-webkit-transform: perspective( 600px ) rotateY( 0deg);
}

.fas {
	color: #e1e1e1;
	font-size: 45px;
	margin: auto;
/*
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;
	text-stroke-width: 1px;
  text-stroke-color: red;
*/

}

.match {
	width: 65px;
	height: 115px;
	z-index: 1000;
	display: absolute;	
}

.hidden {
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 99999 !important;
/*	top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
	margin-bottom: 100%;
	 -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.endContainer {
	color: white;
	width: 80vw;
	max-width: 500px;
	height: 50vh;
	justify-content: space-around;
	font-size: 1.5em;
}

.thanks, .score {
	display: flex;
	width: 100%;
	justify-content: center;
	height: 20px
}

.replay, .exit, .fa-times-circle {
	display: flex;
	height: 30px;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.fa-times-circle {
	font-size: 30px;
	
}

.thanks {
	
}

.score {
	font-size: 1.3em;
}

.replay {
	width: 30%;
	border: solid 2px white;
	background-color: white;
	border-radius: 7px;
	color: black;
	align-items: center;
	justify-content: center;
	
}





/************ Media Querys **************/


@media screen and (min-width: 400px) {
		
		.card {
		width: 85px;
		}
}


@media screen and (min-width: 500px) {
		
		.card {
			width: 105px;
			height: 125px;
			margin-left: auto;
			margin-right: auto;
		}
}


@media screen and (min-width: 600px) {
		
		.card {
			width: 125px;
			height: 145px;
		}
		
		#gameBoard {
				max-width: 600px;
				margin: auto;
		}
}




 


